<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../assets/css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <!--COMMENTARY-->
    <header class="navbar container">
      <div class="logo"><h1>Hidden Routes</h1></div>
      <nav>
        <ul class="nav-link">
          <li><a href="../dashboard.html">Home</a></li>
          <li><a href="./experience.html">Experiences</a></li>
          <li><a href="./experienceManager.html">Manage</a></li>
          <li>
            <button type="button" id="btnlogin">
              <a href="./login.html">Login</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <section class="grid-aboutus">
        <div class="container-aboutus">
          <img src="../assets/img/avatar2.png" alt="Sobre Nosotros" />
          <div class="informationweb">
            <h2 id="aboutus">About Us</h2>
            <p>
              At Colombia Hidden Routes, we are a passionate team dedicated to
              Colombian tourism and culture. Our innovative platform aims to
              connect national and international travelers with authentic,
              unique, and lesser-known experiences along Colombia's Caribbean
              coast. 
            </p>
          </div>
        </div>
        <!-- Sección: Contacto -->
        <div class="container-aboutus">
          <img src="../assets/img/avatar3.png" alt="Contacto" />
          <div class="informationweb">
            <h2>Contact</h2>
            <p>
              If you have any questions, suggestions, or need assistance with
              the platform, please don't hesitate to contact us. We're here to
              help you discover and book the best experiences in Colombia. You
              can email us at: contacto@hiddenroutes.co or call us at: +57 123
              456 7890. We look forward to hearing from you!
            </p>
          </div>
        </div>

        <!-- Sección: Privacidad -->
        <div class="container-aboutus">
          <img src="../assets/img/avatar4.png" alt="Privacidad" />
          <div class="informationweb">
            <h2>Privacy</h2>
            <p>
              At Hidden Routes, we value and protect your privacy. All personal
              information you share with us will be handled with strict
              confidentiality and security. We do not share your data with third
              parties without your consent and comply with current legal
              regulations to protect your personal information.
            </p>
          </div>
        </div>

        <!-- Sección: TyC -->
        <div class="container-aboutus">
          <img src="../assets/img/avatar5.png" alt="Términos y Condiciones" />
          <div class="informationweb">
            <h2>TyC</h2>
            <p>
              By using our platform, you agree to our terms and conditions,
              which regulate the proper use of the site, the booking of
              experiences, and the interaction between users, hosts, and
              clients. We reserve the right to modify these terms at any time to
              improve the experience and security on Hidden Routes.
            </p>
          </div>
        </div>
      </section>
      <section class="meet">
        <h2>Meet Our Team</h2>
        <div class="gallery">
          <img src="../assets/img/cd1.webp" alt="Persona 1" />
          <img src="../assets/img/cd2.webp" alt="Persona 2" />
          <img src="../assets/img/cd3.webp" alt="Persona 3" />
          <img src="../assets/img/cd4.webp" alt="Persona 4" />
          <img src="../assets/img/cd5.webp" alt="Persona 5" />
        </div>
      </section>
    </main>
    <footer class="container">
      <section class="container-footer">
        <div class="sf-footer">
          <div class="logo-footer">
            <img src="../assets/img/logo.webp" alt="logo footer" />
          </div>
          <div class="social-footer">
            <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
            <a href="#"
              ><img src="../assets/img/facebook.png" alt="facebook"
            /></a>
            <a href="#"
              ><img src="../assets/img/youtube.png" alt="youtube"
            /></a>
            <a href="#"
              ><img src="../assets/img/instagram.png" alt="instagram"
            /></a>
          </div>
        </div>
        <div class="info-footer">
          <a href="#">About us</a>
          <a href="#">Contact</a>
          <a href="#">Privacy</a>
          <a href="#">TyC</a>
        </div>
      </section>
      <p class="footer-copy">
        © 2025 Colombia Hidden Routes - All rights reserved.
      </p>
    </footer>
  </body>
</html>
