<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Document</title>
</head>

<body>
  <!--COMMENTARY-->
  <header class="navbar container">
    <div class="logo">
      <h1>Hidden Routes</h1>
    </div>
    <nav>
      <ul class="nav-link">
        <li><a href="../dashboard.html">Home</a></li>
        <li><a href="./experience.html">Experiences</a></li>
        <li>
          <button type="button" id="btnlogin">
            <a href="./login.html">Login</a>
          </button>
        </li>
      </ul>
    </nav>
  </header>
  <main class="container">
    <!--COMMENTARY-->
    <section class="container-manager">
      <h2>Creating experiences</h2>
      <small>Add a new experience</small>
      <form class="create-experience-form" id="createExperienceForm">
        <label for="name">Name of the experience</label>
        <input type="text" id="name" name="name" placeholder="Nombre" required />

        <label for="capacity">Cupos</label>
        <input type="number" id="capacity" name="capacity" min="1" max="20" required />

        <label for="price">Price of the experience</label>
        <input type="number" id="price" name="price" placeholder="Precio" min="0" step="100" required />

        <label for="description">Description of the experience</label>
        <textarea id="description" name="description" placeholder="Descripción" required></textarea>

        <button type="submit">Create</button>
      </form>
    </section>
    <!--COMMENTARY-->
    <section class="created-experiences">
      <h2>Experiences created</h2>
      <small>Manage your experiences</small>

      <div class="cards-container" id="experienceList">
        <!-- Las experiencias se renderizan aquí -->
      </div>
    </section>
  </div>

  <script src="/assets/js/experienceManager.js"></script>
</body>

</html>