<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Document</title>
</head>
<body>
    
    <header class="navbar">
        <div class="logo"><h1>Hidden Routes</h1></div>
      <nav>
        <ul class="nav-link">
          <li><a href="#">Home</a></li>
          <li><a href="#">Experiences</a></li>
          <li><button type="button" id="btnlogin">Login</button></li>
        </ul>
      </nav>
    </header>
    <main>
        <section>
            <div class="logo-login">
             <img src="../assets/img/logo.webp" alt="logo-login">   
            </div>
            <div class="login-box">
                <h2>login</h2>
                <form action="#" method="POST">
                    <div class="user-box">
                        <input type="text" name="username" required="">
                        <label>Email</label>
                    </div>
                    <div class="user-box">
                        <input type="password" name="password" required="">
                        <label>Password</label>
                    </div>
                    <a href="#">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        <button>Submit</button>
                        <label for="">Forgot password</label>
                    </a>
                </form>
            </div>
        </section>

    </main>
    <footer>
        <section class="container-footer">
            <div class="sf-footer">
              
              <div class="social-footer">
                <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
                <a href="#"
                  ><img src="../assets/img/facebook.png" alt="facebook"
                /></a>
                <a href="#"><img src="../assets/img/youtube.png" alt="youtube" /></a>
                <a href="#"
                  ><img src="../assets/img/instagram.png" alt="instagram"
                /></a>
              </div>
            </div>
            <div class="info-footer">
              <a href="#">About us</a>
              <a href="#">Contact</a>
              <a href="#">Privacy</a>
              <a href="#">TyC</a>
            </div>
          </section>
          <p class="footer-copy">
            © 2025 Colombia Hidden Routes - All rights reserved.
          </p>
    </footer>

</body>
</html>