<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Hidden Routes</title>
</head>
<body>
     <!--COMMENTARY-->
    <header class="navbar container">
        <div class="logo"><h1>Hidden Routes</h1></div>
      <nav>
        <ul class="nav-link">
          <li><a href="#">Home</a></li>
          <li><a href="#">Experiences</a></li>
          <li><button type="button" id="btnlogin">Login</button></li>
        </ul>
      </nav>
    </header>



    <!--COMMENTARY-->
    <main class="container">
        <section class="container-login">
             <div class="login">  
              <img src="../assets/img/logo.webp" alt="logo-login">
             <div class="form-login">
                      <form action="#" method="POST">
                      <label for="email">Email</label>
                      <input type="email" id="email" name="email" placeholder="Value" required="">

                      <label for="password">Password</label>
                      <input type="password" id="password" name="password" placeholder="Value" required="">

                  <button type="submit" class="sign-in-button" id="btnlogin">Sign In</button>
                  <a href="#" class="forgot-password-link">Forgot password?</a>
              </form>
            </div>
          </div>
        </section>
    </main>
     <!--COMMENTARY-->

    <footer class="container">
      <section class="container-footer">
        <div class="sf-footer">
          <div class="logo-footer">
            <img src="../assets/img/logo.webp" alt="logo footer" />
          </div>
          <div class="social-footer">
            <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
            <a href="#"
              ><img src="../assets/img/facebook.png" alt="facebook"
            /></a>
            <a href="#"
              ><img src="../assets/img/youtube.png" alt="youtube"
            /></a>
            <a href="#"
              ><img src="../assets/img/instagram.png" alt="instagram"
            /></a>
          </div>
        </div>
        <div class="info-footer">
          <a href="#">About us</a>
          <a href="#">Contact</a>
          <a href="#">Privacy</a>
          <a href="#">TyC</a>
        </div>
      </section>
      <p class="footer-copy">
        © 2025 Colombia Hidden Routes - All rights reserved.
      </p>
    </footer>

</body>
</html>