<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/styles.css">
    <title>Hidden Routes</title>
</head>

<body>
    <header class="navbar container">
        <div class="logo">
            <h1>Hidden Routes</h1>
        </div>
        <nav>
            <ul class="nav-link">
                <li><a href="#">Home</a></li>
                <li><a href="#">Experiences</a></li>
                <li><button type="button" id="btnlogin">Login</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="incentive container">
            <h2>Why offer the Ruta oculta Caribe membership as a host?</h2>
            <p>As a host of Caribbean experiences, you know that the biggest challenge isn't just creating an
                incredible event, but getting more people to discover it and fall in love with it. This is where the
                Ruta Oculta Caribe membership becomes your ally.</p>
            <h2>Benefits for you as a host</h2>
            <ul>Greater visibility: Your experiences are highlighted within the membership, meaning verified
                travelers willing to pay for exclusivity will find you more easily.</ul>
            <ul>Loyal customers: By being part of the membership, users not only book once, but they also come back
                for more, looking for new routes and adventures that you can offer.</ul>
            <ul>Guaranteed trust: By having a clear verification and payment system, you reduce the risk of false
                reservations and increase the security of your transactions.</ul>
            <ul>Exclusive promotion: Your event may be recommended as a Hidden Route of the Month within the
                membership, giving you a privileged showcase compared to others.</ul>
            <ul>Connecting with a real niche: You reach travelers who aren't looking for the typical, but rather the
                authentic—the very value your experience offers.</ul>
            <h2>The difference</h2>
            <p>With a membership, you're not competing in the red ocean of mass tourism. You're joining an exclusive
                club of hidden experiences, where your events shine before clients who value authenticity and are
                willing to pay for it.
                As a host, by joining the Ruta Oculta Caribe membership, you're not only filling your capacity, but
                also building a trusted and attractive brand for clients who want to experience the extraordinary.</p>

        <section class="how to pay container">
            <h2>Guide to obtaining a membership</h2>
                <ul>1. Make a payment of $6.90 using the following information:
                    <li>Account number: 483-000-294-53</li>
                    <li>Account type: Savings</li>
                    <li>Bank: Bancolombia S.A</li>
                <p>NOTE: Be sure to verify that the information is correct before making the payment.</p>
                <ul>2. Once you have made your payment, please send us the following information:</ul>
                    <li>Transaction ID: The code provided by your bank or platform.</li>
                    <li>Payment method: Indicate the bank from which you made your payment.</li>
                    <li>Payment date: Indicate the exact date you made your payment.</li>
                <ul>3. Complete the form, entering the information in the corresponding fields:</ul>
                    <li>Transaction ID: The code you were given.</li>
                    <li>Payment method: The method you used to pay.</li>
                    <li>Date: The date you made the transfer.</li>
                <p>NOTE: Check that everything is correct and, when you are sure, click Send.</p>
                <ul>4. Wait 24 to 72 hours for confirmation. Once you submit the form:</ul>
                    <li>Your request will be reviewed.</li>
                    <li>If everything is in order, you will officially be a verified host.</li>
                    <li>This will help you stand out as a host on the Caribbean Dark Route.</li>
        </section>
        <section class="payment container">
            <div class="payment information card">
                <h2>PAYMENT INFORMATION</h2>
                      <form action="#" method="POST">
                      <label for="Account-Number">Account Number</label>
                      <input type="Account-Number" id="Account-Number" name="Account-Number" placeholder="Value" required="">
                      <label for="Account-Type">Account Type</label>
                      <input type="Account-Type" id="Account-Type" name="Account-Type" placeholder="Value" required="">
                      <label for="Value">Value</label>
                      <input type="Value" id="Value" name="Value" placeholder="Value" required="">
                      <label for="Bank">Bank</label>
                      <input type="Bank" id="Bank" name="Bank" placeholder="Value" required="">
            </div>
            <div class="qr card">
                <h2>QR CODE</h2>
                <a href="#"><img src="../assets/img/CODE QR.webp" alt="QR CODE"/></a>
            </div>
            <div class="transaction-information card">
                <h2>TRANSACTION INFORMATION</h2>
                <form action="#" method="POST">
                      <label for="id-transaction">ID transaction</label>
                      <input type="text" id="id-transaction" name="id-transaction" placeholder="Value" required="">
                      <label for="Payment method">Payment method</label>
                      <input type="text" id="Payment-method" name="Payment-method" placeholder="Value" required="">
                      <label for="Date">Date</label>
                      <input type="Date" id="Date" name="Date" placeholder="Value" required="">
                      <button type="submit" class="send-in-button" id="btnlogin">send</button>
            </div>
        </section>
        </section>
    </main>
    <footer class="container">
        <section class="container-footer">
            <div class="sf-footer">
                <div class="logo-footer">
                    <img src="../assets/img/logo.webp" alt="logo footer" />
                </div>
                <div class="social-footer">
                    <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
                    <a href="#"><img src="../assets/img/facebook.png" alt="facebook" /></a>
                    <a href="#"><img src="../assets/img/youtube.png" alt="youtube" /></a>
                    <a href="#"><img src="../assets/img/instagram.png" alt="instagram" /></a>
                </div>
            </div>
            <div class="info-footer">
                <a href="#">About us</a>
                <a href="#">Contact</a>
                <a href="#">Privacy</a>
                <a href="#">TyC</a>
            </div>
        </section>
        <p class="footer-copy">
            © 2025 Colombia Hidden Routes - All rights reserved.
        </p>
    </footer>
</body>

</html>