<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Hidden Routes</title>
</head>

<body>
        <header class="navbar container">
            <div class="logo">
                <h1>Hidden Routes</h1>
            </div>
            <nav>
                <ul class="nav-link">
                                <li><a href="../dashboard.html">Home</a></li>
                                <li><a href="./experience.html">Experiences</a></li>
                                <li><a href="./experienceManager.html">Manage</a></li>
                                <li><a href="./paymentMethod.html" class="btn-get-verified">Get verified</a></li>
                                <a href="./login.html">
                                    <button type="button" id="btnlogin">Login</button>
                                </a>
                </ul>
            </nav>
        </header>
        <main>
    <section class="membership-container container membership-info-block">
            <h2>Why offer the Ruta Oculta Caribe membership as a host?</h2>
            <p>As a host of Caribbean experiences, you know that the biggest challenge isn't just creating an incredible event, but getting more people to discover it and fall in love with it. This is where the Ruta Oculta Caribe membership becomes your ally.</p>
            <h2>Benefits for you as a host</h2>
            <ul>
                <li>Greater visibility: Your experiences are highlighted within the membership, meaning verified travelers willing to pay for exclusivity will find you more easily.</li>
                <li>Loyal customers: By being part of the membership, users not only book once, but they also come back for more, looking for new routes and adventures that you can offer.</li>
                <li>Guaranteed trust: By having a clear verification and payment system, you reduce the risk of false reservations and increase the security of your transactions.</li>
                <li>Exclusive promotion: Your event may be recommended as a Hidden Route of the Month within the membership, giving you a privileged showcase compared to others.</li>
                <li>Connecting with a real niche: You reach travelers who aren't looking for the typical, but rather the authentic—the very value your experience offers.</li>
            </ul>
            <h2>The difference</h2>
            <p>With a membership, you're not competing in the red ocean of mass tourism. You're joining an exclusive club of hidden experiences, where your events shine before clients who value authenticity and are willing to pay for it.
                As a host, by joining the Ruta Oculta Caribe membership, you're not only filling your capacity, but also building a trusted and attractive brand for clients who want to experience the extraordinary.</p>
            <h2>Guide to obtaining a membership</h2>
            <ul>
                <li>1. Make a payment of $6.90 using the following information:
                    <ul>
                        <li>Account number: 483-000-294-53</li>
                        <li>Account type: Savings</li>
                        <li>Bank: Bancolombia S.A</li>
                    </ul>
                    <p>NOTE: Be sure to verify that the information is correct before making the payment.</p>
                </li>
                <li>2. Once you have made your payment, please send us the following information:
                    <ul>
                        <li>Transaction ID: The code provided by your bank or platform.</li>
                        <li>Payment method: Indicate the bank from which you made your payment.</li>
                        <li>Payment date: Indicate the exact date you made your payment.</li>
                    </ul>
                </li>
                <li>3. Complete the form, entering the information in the corresponding fields:
                    <ul>
                        <li>Transaction ID: The code you were given.</li>
                        <li>Payment method: The method you used to pay.</li>
                        <li>Date: The date you made the transfer.</li>
                    </ul>
                    <p>NOTE: Check that everything is correct and, when you are sure, click Send.</p>
                </li>
                <li>4. Wait 24 to 72 hours for confirmation. Once you submit the form:
                    <ul>
                        <li>Your request will be reviewed.</li>
                        <li>If everything is in order, you will officially be a verified host.</li>
                        <li>This will help you stand out as a host on the Caribbean Dark Route.</li>
                    </ul>
                </li>
            </ul>
            <div class="membership-cards-row">
                <div class="membership-card-col">
                    <div class="card">
                        <h4 style="color: #4fa13f; text-align: center;">PAYMENT INFORMATION</h4>
                        <div style="font-size: 1em;">
                            <b>Account Number:</b> 483-000-294-53<br>
                            <b>Account Type:</b> Savings<br>
                            <b>Value:</b> 6.9 USD<br>
                            <b>Bank Information:</b> Bancolombia S.A
                        </div>
                    </div>
                </div>
                <div class="membership-card-col">
                    <div class="card" style="display: flex; flex-direction: column; align-items: center;">
                        <h4 style="color: #4fa13f; text-align: center;">QR CODE</h4>
                        <img src="../assets/img/qr_code.webp" alt="QR CODE" />
                    </div>
                </div>
                <div class="membership-card-col">
                    <div class="card">
                        <h4 style="color: #4fa13f; text-align: center;">TRANSACTION INFORMATION</h4>
                        <form action="#" method="POST" style="display: flex; flex-direction: column; gap: 0.7rem;">
                            <label for="id-transaction">ID Transaction</label>
                            <input type="text" id="id-transaction" name="id-transaction" placeholder="Transaction ID" required>
                            <label for="payment-method">Payment Method</label>
                            <input type="text" id="payment-method" name="payment-method" placeholder="Bank, Nequi, QR, etc." required>
                            <label for="date">Date</label>
                            <input type="date" id="date" name="date" required>
                            <button type="submit" class="btn-submit" style="margin-top: 10px;">Send</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        </main>
        <footer class="container">
            <section class="container-footer">
                <div class="sf-footer">
                    <div class="logo-footer">
                        <img src="../assets/img/logo.webp" alt="logo footer" />
                    </div>
                    <div class="social-footer">
                        <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
                        <a href="#"><img src="../assets/img/facebook.png" alt="facebook" /></a>
                        <a href="#"><img src="../assets/img/youtube.png" alt="youtube" /></a>
                        <a href="#"><img src="../assets/img/instagram.png" alt="instagram" /></a>
                    </div>
                </div>
                <div class="info-footer">
                    <a href="./aboutUs.html">About us</a>
                    <a href="./aboutUs.html">Contact</a>
                    <a href="./aboutUs.html">Privacy</a>
                    <a href="./aboutUs.html">TyC</a>
                </div>
            </section>
            <p class="footer-copy">
                © 2025 Colombia Hidden Routes - All rights reserved.
            </p>
        </footer>
</body>

</html>