<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Hidden Routes</title>
</head>

<body>
    <header class="navbar container">
        <div class="logo">
            <h1>Hidden Routes</h1>
        </div>
        <nav>
            <ul class="nav-link">
                <li><a href="#">Home</a></li>
                <li><a href="#">Experiences</a></li>
                <li><button type="button" id="btnlogin">Login</button></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <div>
                <h2>Why offer the Ruta oculta Caribe membership as a host?</h2>
                <p>As a host of Caribbean experiences, you know that the biggest challenge isn't just creating an
                    incredible event, but getting more people to discover it and fall in love with it. This is where the
                    Ruta oculta Caribe membership becomes your ally.</p>
                <h2>Benefits for you as a host</h2>
                <ul>Greater visibility: Your experiences are highlighted within the membership, which means that
                    verified travelers willing to pay for exclusivity will find you more easily.</ul>
                <ul>Loyal customers: By being part of the membership, users not only book once, but they also come back
                    for more, looking for new routes and adventures that you can offer.</ul>
                <ul>Guaranteed trust: By having a clear verification and payment system, you reduce the risk of false
                    bookings and increase the security of your transactions.</ul>
                <ul>Exclusive promotion: Your event may be recommended as "Hidden Route of the Month" within the
                    membership, giving you a privileged showcase compared to others.</ul>
                <ul>Connecting with a real niche: you reach travelers who are not looking for the typical, but for the
                    authentic, precisely the value that your experience offers.</ul>
                <h2>The difference</h2>
                <p>With membership, you're not competing in the red ocean of mass tourism. You're joining a select club
                    of hidden experiences, where your events shine before clients who value authenticity and are willing
                    to pay for it.</p>
                <ul>As a host, by joining the Ruta Oculta Caribe membership, you not only fill your quota, but you also
                    build a trusted and attractive brand for clients who want to experience the extraordinary.</ul>
            </div>
            <div>
                <h2>Guide to obtaining our membership</h2>
                <ul>Step 1. Make the payment using the details described below</ul>
                <lu>por favor, realiza una transderencia de pago por valor de 6.9 usd a la siguiente cuenta:</lu>
                <li>Numero de cuenta 483-000-294-53</li>
                <li>Tipo de cuenta: ahorros</li>
                <li>Banco: Bancolombia</li>
                <ul>Asegurate que los datos esten correctos antes de enviar el pago</ul>
                <ul>Step 2. Reune los datos claves para validar tu pago</ul>
                <ul>una vez realizado el pago, toma nota o guarda la siguiente información:</ul>
                <li>Id de transacción: El codigo que te entrega el banco o la pasarela de pago </li>
                <li>Metodo de pago: indica desde que entidad bancaria realizaste tu pago</li>
                <li>Fecha de pago: Indica la fecha en la que hiciste tu pago</li>
                <ul>Step 2. Reune los datos claves para validar tu pago</ul>
                <ul>una vez realizado el pago, toma nota o guarda la siguiente información:</ul>
                <li>Id de transacción: El codigo que te entrega el banco o la pasarela de pago </li>
                <li>Metodo de pago: indica desde que entidad bancaria realizaste tu pago</li>
                         <li>Fecha de pago: Indica la fecha en la que hiciste tu pago</li>
            </div>
        </section>
    </main>
    <footer class="container">
        <section class="container-footer">
            <div class="sf-footer">
                <div class="logo-footer">
                    <img src="../assets/img/logo.webp" alt="logo footer" />
                </div>
                <div class="social-footer">
                    <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
                    <a href="#"><img src="../assets/img/facebook.png" alt="facebook" /></a>
                    <a href="#"><img src="../assets/img/youtube.png" alt="youtube" /></a>
                    <a href="#"><img src="../assets/img/instagram.png" alt="instagram" /></a>
                </div>
            </div>
            <div class="info-footer">
                <a href="#">About us</a>
                <a href="#">Contact</a>
                <a href="#">Privacy</a>
                <a href="#">TyC</a>
            </div>
        </section>
        <p class="footer-copy">
            © 2025 Colombia Hidden Routes - All rights reserved.
        </p>
    </footer>


</body>

</html>