<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/main.css">
    <title>Document</title>
</head>
<body>
    <!--COMMENTARY-->
    <header class="navbar container">
      <div class="logo"><h1>Hidden Routes</h1></div>
      <nav>
        <ul class="nav-link">
          <li><a href="../dashboard.html">Home</a></li>
          <li><a href="./experience.html">Experiences</a></li>
          <li><a href="./experienceManager.html">Manage</a></li>
          <li>
            <button type="button" id="btnlogin">
              <a href="./login.html">Login</a>
            </button>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
        <section class="container-profile">
            <img src="../assets/img/usuario3.webp" alt="profile photo">
        </section>
        <section class="form-profile">
             <h2>Profile</h2>
        <form class="reservation-form">
          <!--COMMNETARY -->
          <label for="name">Name</label>
          <input type="text" id="nameprofile" placeholder="name">
          <!--COMMNETARY -->
            <label for="lastname">Last name</label>
          <input type="text" id="lastname" placeholder="lastname">
                    <!--COMMNETARY -->
          <label for="email">Email</label>
          <input type="email" id="emailprofile" placeholder="email">
                    <!--COMMNETARY -->
          <label for="Description">Description</label>
          <input type="text" id="Description" placeholder="description">
          <button type="submit" class="btn-submit">Update</button>
    </main>
    <!--COMMENTARY-->
       <footer class="container">
      <section class="container-footer">
        <div class="sf-footer">
          <div class="logo-footer">
            <img src="../assets/img/logo.webp" alt="logo footer" />
          </div>
          <div class="social-footer">
            <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
            <a href="#"
              ><img src="../assets/img/facebook.png" alt="facebook"
            /></a>
            <a href="#"
              ><img src="../assets/img/youtube.png" alt="youtube"
            /></a>
            <a href="#"
              ><img src="../assets/img/instagram.png" alt="instagram"
            /></a>
          </div>
        </div>
        <div class="info-footer">
          <a href="#">About us</a>
          <a href="#">Contact</a>
          <a href="#">Privacy</a>
          <a href="#">TyC</a>
        </div>
      </section>
      <p class="footer-copy">
        © 2025 Colombia Hidden Routes - All rights reserved.
      </p>
    </footer>
</body>
</html>