<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../assets/css/main.css">
  <title>Hidden Routes</title>
</head>

<body>
  <!--COMMENTARY-->
  <header class="navbar container">
    <div class="logo">
      <h1>Hidden Routes</h1>
    </div>
    <nav>
      <ul class="nav-link">
        <li><a href="#">Home</a></li>
        <li><a href="#">Experiences</a></li>
        <a href="./login.html">
          <button type="button" id="btnlogin">Login</button>
        </a>
      </ul>
    </nav>
  </header>
  <main class="container">
    <section class="container-register">
      <div class="register">
        <img src="../assets/img/logo.webp" alt="logo-register">
        <div class="form-register">
          <form action="#" method="POST">
            <label for="Name">Name</label>
            <input type="Name" id="Name" name="Name" placeholder="Value" required="">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" placeholder="Value" required="">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Value" required="">
            <label for="Role">Role</label>
            <input type="Role" id="Role" name="Role" placeholder="Value" required="">

            <button type="submit" class="sign-in-button" id="btnregister">Register</button>
            <br>
            <span class="login-prompt">Already have an account? <a href="login.html">Log in</a></span>
          </form>
        </div>
      </div>
    </section>
  </main>
  <!--COMMENTARY-->

  <footer class="container">
    <section class="container-footer">
      <div class="sf-footer">
        <div class="logo-footer">
          <img src="../assets/img/logo.webp" alt="logo footer" />
        </div>
        <div class="social-footer">
          <a href="#"><img src="../assets/img/github.png" alt="github" /></a>
          <a href="#"><img src="../assets/img/facebook.png" alt="facebook" /></a>
          <a href="#"><img src="../assets/img/youtube.png" alt="youtube" /></a>
          <a href="#"><img src="../assets/img/instagram.png" alt="instagram" /></a>
        </div>
      </div>
      <div class="info-footer">
        <a href="./aboutUs.html">About us</a>
        <a href="./aboutUs.html">Contact</a>
        <a href="./aboutUs.html">Privacy</a>
        <a href="./aboutUs.html">TyC</a>
      </div>
    </section>
    <p class="footer-copy">
      © 2025 Colombia Hidden Routes - All rights reserved.
    </p>
  </footer>
</body>

</html>